body{
    background-image: url('../img/pets.jpg');
    background-size: cover;
    background-position: center;
    
} 

.card{
    margin-top: 130px;
    background: rgba(0, 0, 0, .6);
}
/*Ativa a barra de progresso antes de exibir o formulario de cadastro de usu치rio*/
.progress{
    width:50%;
    margin:0 auto;
    margin-top:20%;
}
/*Ativa a barra de progresso antes de exibir o formulario de cadastro de usu치rio*/
@media only screen and (max-width:924px){
       .progress{
          width:70%;
          margin:0 auto;
          margin-top:60%;
        }
}
/*Aumenta a margem entre o topo e o card de formul치rio do cadastro de usu치rio*/
.formcadastrousuario{
    margin-top: 5%;
}
